body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 99vh;
}

a {
    margin: 0.5rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.container-head {
    display: flex;
    justify-content: space-between;
}

#leftheader, #rightheader {
    padding: 1.5rem;
}

.button-apps {
    border-radius: 20%;
    size: 20px;
    color: whitesmoke;
    background-color: whitesmoke;
    border-color: lightgray;  
    padding: 10px;
}

.button-session {
    background-color: rgb(64, 124, 255);
    border-radius: 8px;
    border-color: rgb(64, 124, 255);
    padding: 11px;
}

.button-session:hover {
    background-color: rgb(48, 95, 196)  ;
}

.button-session a {
    color:whitesmoke;
}

.button-session a:hover {
    text-decoration: none;

}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    width: 15vw;
}

.container-footer {
    display:flex;
    flex-direction: column;
    background-color: rgba(141, 141, 141, 0.247);
    color: rgb(90, 90, 90)
}

.container-footer-down {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.spain {
    border-bottom: 1px solid rgba(56, 56, 56, 0.349);
}

#spain {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
}

.grey-text {
    color:rgb(90, 90, 90);
}
