.container {
    margin: 0;
}

#head {
    height: 10vh;
    display: flex;
}

#main {
    height: 75vh;
    display: flex;
    justify-content: center;
}

#footer {
    height: 15vh;
}

.head-c {
    width: 50vw;
    height: 10vh;
}
#head-izq {

#head-der {
}

#main-info  {
    width: 50vw;
    height: 75 vh;
}

#footer-link {
    display:flex
}

#footer-link-izq {
    width: 30vw;
}

#footer-link-center {
    width: 40vw;
}

#footer-link-der {
    width: 30vw;
}

